body {
    margin: 0;
    overflow: hidden;
    z-index: 100;
}
p {
    font-family: Ubuntu Mono;
    text-align: center;
}
#t {
    top: 5%;
    font-size: 200%;
    color: white;
    position: absolute;
    width: 100%;
}
#m {
    top: 20%;
    font-size: 100%;
    color: white;
    position: absolute;
    width: 100%;
}
#b {
    top: 20%;
    font-size: 50%;
    color: white;
    position: absolute;
    width: 100%;
}
#socials {
    top: 90%;
    display: flex;
    justify-content: center;
    position: absolute;
}
a {
    display: inline-block;
}
#icon {
    padding: 10px;
    max-width: 5%;
}
img {
    max-width: 100%;
}
