#t {
	font-size: 150%;
    color: white;
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;
    z-index: 100;
}
#m {
	font-size: 100%;
    color: white;
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;
    z-index: 100;
}
#b {
	font-size: 50%;
    color: white;
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;
    z-index: 100;
}
